In [7]:
!pip3 install emoji

Collecting emoji
  Downloading emoji-1.7.0.tar.gz (175 kB)
     |████████████████████████████████| 175 kB 14.8 MB/s
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-1.7.0-py3-none-any.whl size=171046 sha256=1cc8ed63ef054c31fc08323af6fba522527d298a9b0ce3030c5fa58764e313b6
  Stored in directory: /root/.cache/pip/wheels/8a/4e/b6/57b01db010d17ef6ea9b40300af725ef3e210cb1acfb7ac8b6
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-1.7.0

In [8]:
import tensorflow as tf
import pandas as pd
import numpy as np
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM, pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import re
from nltk import word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
import nltk
from sklearn.model_selection import train_test_split
nltk.download('stopwords')
nltk.download('wordnet')
# import dl_translate as dlt

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
from transformers import AutoTokenizer, TFAutoModelForSequenceClassification
  
tokenizerR = AutoTokenizer.from_pretrained("rabindralamsal/BERTsent")

modelR = TFAutoModelForSequenceClassification.from_pretrained("rabindralamsal/BERTsent")

All model checkpoint layers were used when initializing TFRobertaForSequenceClassification.

All the layers of TFRobertaForSequenceClassification were initialized from the model checkpoint at rabindralamsal/BERTsent.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFRobertaForSequenceClassification for predictions without further training.

In [ ]:
classifier = pipeline("sentiment-analysis")
classifier("I loved Star Wars so much!")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

[{'label': 'POSITIVE', 'score': 0.999840259552002}]

In [ ]:
# tokenizer = AutoTokenizer.from_pretrained("unicamp-dl/translation-pt-en-t5")
# model = AutoModelForSeq2SeqLM.from_pretrained("unicamp-dl/translation-pt-en-t5")
# pten_pipeline = pipeline('text2text-generation', model=model, tokenizer=tokenizer)
# mt = dlt.TranslationModel()  # Slow when you load it for the first time

In [10]:
example_tweet = "The NEET exams show our Govt in a poor light: unresponsiveness to genuine concerns; admit cards not delivered to aspirants in time; failure to provide centres in towns they reside, thus requiring unnecessary & risky travels. What a disgrace to treat our #Covid warriors like this!"
#this tweet resides on Twitter with an identifier-1435793872588738560
    
input = tokenizerR.encode(example_tweet, return_tensors="tf")
output = modelR.predict(input)[0]
prediction = tf.nn.softmax(output, axis=1).numpy()
sentiment = np.argmax(prediction)
    
print(prediction)
print(sentiment)

[[0.97267216 0.02368472 0.00364307]]
0

In [50]:
df_portuguese = pd.read_csv("./export_TweetSentBR.csv")
# df_english = pd.read_csv("datasets/export_TweetSentEnglish.csv")
# dataset = pd.read_csv("./datasetcompleto.csv")
completo = pd.read_csv("./TweetCompleto11k.csv")

In [51]:
completo.drop(columns = ['Unnamed: 0'], inplace = True)

In [ ]:
completo['tweets_translater_unicamp'] = completo['tweets_translater_unicamp'].replace('','')
completo['tweets_translater_face'] = completo['tweets_translater_face'].replace('"','')

In [57]:
df_portuguese

                                                    text  sentiment
0      Que coisa linda! O Programa #encontro estava m...          1
1      Por mais #Encontro com as Irmãs Galvão, adorei...          1
2      Mr. CATRA  lançando sua nova música PPK CHORA ...          1
3      quem viu aquela lutadora modela barbuda tatuad...          0
4      Tô passada com esse cara.... quanta merda pode...         -1
...                                                  ...        ...
11522  a animação da filha da vanessa da mata é de se...          1
11523  eu ja to aqui pronto pro #MasterChefBR mas ain...         -1
11524  MALUCO! Uma coisa que eu não tenho coragem é e...         -1
11525                            #MaisVoce   está linda           1
11526                     Que orgulho de ti, ! #Encontro          1

[11527 rows x 2 columns]

In [53]:
df_remove = df_portuguese[df_portuguese['sentiment'] == '-']
df_portuguese = df_portuguese.drop(df_remove.index)
df_portuguese = df_portuguese.reset_index()
df_portuguese = df_portuguese.drop(columns=['index'])
df_portuguese['sentiment'] = df_portuguese['sentiment'].apply(lambda x: int(x))
Tweet = df_portuguese['text']
polarity = np.asarray(df_portuguese['sentiment'])

In [54]:
df_portuguese['text'] = df_portuguese['text'].apply(remove_user)
df_portuguese.drop(columns = ['id', 'id_twitter'], inplace = True)

In [56]:
df_portuguese.drop(index = 11527, inplace = True )

In [22]:
completo.drop()

,tweets_original,tweets_translater_unicamp,tweets_translater_face
0,Que coisa linda! O Programa #encontro estava m...,The #encontro Program was showing a family tha...,What a beautiful thing! The #touch program was...
1,"Por mais #Encontro com as Irmãs Galvão, adorei...",I loved them.,"For more I met with the Galvan Sisters, I love..."
2,Mr. CATRA lançando sua nova música PPK CHORA ...,CATRA launching its new song PPK CHORA no k,Mr. CATRA releases his new song PPK CHORA on k...
3,quem viu aquela lutadora modela barbuda tatuad...,#MasterChefBR,Who saw that fighter model tattooed? #MasterCh...
4,Tô passada com esse cara.... quanta merda pode...,"I'm handled with this guy.... how mu""",How much shit can come out of someone’s mouth ...
...,...,...,...
11506,a animação da filha da vanessa da mata é de se...,The animation of the daughter of vanessa da ma...,The animation of the daughter of the vanessa o...
11507,eu ja to aqui pronto pro #MasterChefBR mas ain...,"I'm already here ready for #MasterChefBR but""",I'm ready to go here for #MasterChefBR but I'm...
11508,MALUCO! Uma coisa que eu não tenho coragem é e...,"One thing I don't have the courage is this""",One thing I don’t have the courage is that nor...
11509,#MaisVoce está linda,#By You are beautiful #ByYou are beauti,#MaisVoce is beautiful
11510,"Que orgulho de ti, ! #Encontro","What pride of you,! #I meet you",I am proud of you! #Meet

In [58]:
completo['polaridade'] = df_portuguese['sentiment']

In [61]:
completo.to_csv('datasetcompolaridade.csv')

In [62]:
completo = completo.dropna().reset_index().drop(columns = ['index'])

In [19]:
def pre_X(frases):
    lista = []
    
    for frase in frases:
        lista.append(frase)
        
    return lista

def pre_Y(number):
    lista = []
    
    for numb in number:
        lista.append(numb)
    
    return lista

In [65]:
def set_array(frases):
    
    vocab = []
    palavras = []
    for frase in frases:
        
        text_array = remove_user(frase)
        text_array = Tokenize(text_array)
        text_array = text_array.split(' ')
        for i in range(len(text_array)):
            vocab.append(text_array[i])
    
    
        
    return vocab

def Tokenize(f):     ## Pre-processando a frase
    
    ## Colocando em minusculo
    ## Retirando a pontuaçao
    ## Retirando as StopWords
    
    f = f.lower().replace('\n', '').replace('-','').replace('#','').replace('.','').replace(',','').replace('!','').replace('r\n','').replace('  ','')
    token = RegexpTokenizer(r"\w+")
    f = token.tokenize(f)
    
    stop_words = set(stopwords.words('portuguese'))
    
    new_word = [word for word in f if not word in stop_words]
    
    return ' '.join(new_word)

def remove_user(frase):

    return re.sub('@\w+','',frase)

def translater_phrases(frase):
    translater = pten_pipeline(frase)
    translater = str(translater).strip('[{}]')
    translater = translater[19:]
    translater = translater.strip("''")
    
    return translater

def translater_frases(frase):
    text_hi = frase
    translater = mt.translate(text_hi, source=dlt.lang.PORTUGUESE, target=dlt.lang.ENGLISH)
    
    return translater

def new_classifier(frase):
    input = tokenizerR.encode(frase, return_tensors="tf")
    output = modelR.predict(input)[0]
    prediction = tf.nn.softmax(output, axis=1).numpy()
    sentiment = np.argmax(prediction)
    
    return sentiment

In [ ]:
Tweet = Tweet.apply(remove_user)
# Tweet_preprocessed = Tweet.apply(Tokenize)

# count_vect = CountVectorizer()
# X_train = count_vect.fit_transform(Tweet_preprocessed)

# tfidf_transformer = TfidfTransformer()
# X_train_transform = tfidf_transformer.fit_transform(X_train) # Aplicando o TF-IDF


# X_train, X_test, Y_train, Y_test = train_test_split(X_train_transform, polarity, test_size=0.3)

NameError: name 'Tweet' is not defined

In [ ]:
classificacoes = pd.DataFrame(data = {'origem_portugues': df_portuguese['sentiment'], 
                                      'classificação_hug_com_unicamp_translater': completo['tweets_translater_unicamp'].apply(classifier),
                                      'classificação_rabin_com_unicamp_translater': completo['tweets_translater_unicamp'].apply(new_classifier),
                                      'classificação_hug_com_face_translater': completo['tweets_translater_face'].apply(classifier)})

In [66]:
classificacao = pd.DataFrame( data = { 'classificação_rabin_face_translater': completo['tweets_translater_face'].apply(new_classifier)})

In [ ]:
classificacao

       classificação_rabin_face_translater
0                                        1
1                                        1
2                                        0
3                                        0
4                                       -1
...                                    ...
11506                                    0
11507                                   -1
11508                                   -1
11509                                    1
11510                                    1

[11511 rows x 1 columns]

In [ ]:
classificacao['classificação_rabin_face_translater'] = classificacao['classificação_rabin_face_translater'].replace(0, -1).replace(1,0).replace(2,1)

In [ ]:
classificacoes = classificacoes.dropna().reset_index().drop(columns = ['index'])

In [ ]:
classificacoes

,origem_portugues,classificação_hug_com_unicamp_translater,classificação_rabin_com_unicamp_translater,classificação_hug_com_face_translater
0,1,"[{'label': 'NEGATIVE', 'score': 0.978637635707...",1.0,"[{'label': 'POSITIVE', 'score': 0.999819815158..."
1,1,"[{'label': 'POSITIVE', 'score': 0.999877452850...",2.0,"[{'label': 'POSITIVE', 'score': 0.999851465225..."
2,1,"[{'label': 'POSITIVE', 'score': 0.993814468383...",1.0,"[{'label': 'NEGATIVE', 'score': 0.977949678897..."
3,0,"[{'label': 'POSITIVE', 'score': 0.983937680721...",1.0,"[{'label': 'NEGATIVE', 'score': 0.994238138198..."
4,-1,"[{'label': 'NEGATIVE', 'score': 0.977942943572...",1.0,"[{'label': 'NEGATIVE', 'score': 0.999268591403..."
...,...,...,...,...
11511,0,"[{'label': 'NEGATIVE', 'score': 0.854824185371...",1.0,"[{'label': 'POSITIVE', 'score': 0.999161243438..."
11512,-1,"[{'label': 'NEGATIVE', 'score': 0.973548531532...",1.0,"[{'label': 'NEGATIVE', 'score': 0.999184668064..."
11513,1,"[{'label': 'NEGATIVE', 'score': 0.999200165271...",0.0,"[{'label': 'NEGATIVE', 'score': 0.998830497264..."
11514,0,"[{'label': 'POSITIVE', 'score': 0.999661445617...",2.0,"[{'label': 'POSITIVE', 'score': 0.999835968017..."
11515,-1,"[{'label': 'POSITIVE', 'score': 0.999851465225...",2.0,"[{'label': 'POSITIVE', 'score': 0.999861836433..."

In [ ]:
classificacoes['classificação_hug_com_unicamp_translater'] = classificacoes['classificação_hug_com_unicamp_translater'].apply(lambda x: x[0]['label'])
classificacoes['classificação_hug_com_face_translater'] = classificacoes['classificação_hug_com_face_translater'].apply(lambda x: x[0]['label'])

In [ ]:
classificacoes['classificação_hug_com_unicamp_translater'] = classificacoes['classificação_hug_com_unicamp_translater'].replace('POSITIVE', 1).replace('NEGATIVE',-1)
classificacoes['classificação_hug_com_face_translater'] = classificacoes['classificação_hug_com_face_translater'].replace('POSITIVE', 1).replace('NEGATIVE',-1)

In [ ]:
classificacoes['classificação_rabin_com_unicamp_translater'] = classificacoes['classificação_rabin_com_unicamp_translater'].replace(0, -1).replace(1,0).replace(2,1)
# classificacoes['classificação_rabin_face'] = classificacoes['classificação_rabin_face'].replace(0, -1).replace(1,0).replace(2,1)

In [ ]:
classificacoes

,origem_portugues,classificação_hug_com_unicamp_translater,classificação_rabin_com_unicamp_translater,classificação_hug_com_face_translater
0,1,-1,0.0,1
1,1,1,1.0,1
2,1,1,0.0,-1
3,0,1,0.0,-1
4,-1,-1,0.0,-1
...,...,...,...,...
11511,0,-1,0.0,1
11512,-1,-1,0.0,-1
11513,1,-1,-1.0,-1
11514,0,1,1.0,1
11515,-1,1,1.0,1

## Acuracia da origem com classificador do huggingface e traduzido com o tradutor da unicamp

In [67]:
soma = 0
for i in range (len(completo)):
      if(int(completo['polaridade'][i]) == int(classificacao['classificação_rabin_face_translater'][i])):
        soma+=1

soma/len(classificacao)

0.20623751194509599

## Acuracia da origem com classificador do rabin e traduzido com o tradutor da unicamp

In [ ]:
soma = 0
for i in range (len(classificacoes)):
    if(int(classificacoes['origem_portugues'][i]) == int(classificacoes['classificação_rabin_com_unicamp_translater'][i])):
        soma+=1

soma/len(classificacoes)

0.3109586662035429

## Acuracia da origem com classificador do huggingface e traduzido com o tradutor da m2m100 ou face

In [ ]:
soma = 0
for i in range (len(classificacoes)):
    if(int(classificacoes['origem_portugues'][i]) == int(classificacoes['classificação_hug_com_face_translater'][i])):
        soma+=1

soma/len(classificacoes)

0.37816950329975685

## Acuracia da origem com classificador do rabin e traduzido com o tradutor da m2m100 ou face

In [ ]:
soma = 0
for i in range (len(classificacoes)):
    if(int(classificacoes['origem_portugues'][i]) == int(classificacoes['classificação_rabin_face'][i])):
        soma+=1

soma/len(classificacoes)

0.65